@model IEnumerable<HealthCareStartup.Models.Diagnosi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Results)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.DName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hospital.HName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Pname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Results)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.DName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hospital.HName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.Pname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DiagID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DiagID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DiagID })
        </td>
    </tr>
}

</table>
